<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <script>
        var number = 0;
        var message;
        function num1(){
            var number = 1;
            return number.toString(); 
        }

        function num2(){
            var number2 = 2;
            number2.toString();
         }

    function diceRoll(){
        if (number.valueOf == "1"){
            message = "Generate a random number between 1 and 6";
        }
        else if (number.valueOf == "2") {
            message = "Generate a random number between 2 and 12";
        }
        
    }

    function outPut(){

        if(number == "1"){
            var x = Math.floor((Math.random() * 6) + 1);
            document.getElementById("output1").innerHTML = x;
        }

        if (number == "2"){

            var x = Math.floor((Math.random() * 12) + 2);
            document.getElementById("output2").innerHTML = x;

        }

    }


    document.getElementById("message").innerHTML = message;
    </script>

<body>
    <div class="header">

        <h1>Timebox.</h1>

    </div>

    <p>How many die do you want?</p>
    <div class="inline">
        <button type="button" onclick="num1()">1</button>
        <button type="button" onclick="num2()">2</button>
    </div>

    <p id="message"></p>
    <p id="output1"></p>
    <p id="output2"></p>
</body>
</html>